body{
	background-color: #FAEBD7;
	font-size: 120%;
}

h2{
	color: red;
	text-shadow: 2px;
	text-align: center;
	font-size: 250%;
}

h4{
	font-size: 20px;
	margin-left: 50px;
}
#Logo{
	width: 10%;
}

.Question{
	margin-left: 45px;
	color: green;
	font-size: 140%;
}

.Réponse{
	margin-left: 40px
}

#mail{
	font-size: 17px
}

p{
	font-size: 14px;
	margin-left: 40px
}

#lien{
	font-size: 90%;
}
#FIN{
	padding-top: 5%;
	font-size: 110%;
}


	
